# Azure OpenAI
AZURE_OPENAI_API_KEY=your_azure_openai_api_key_here
AZURE_OPENAI_ENDPOINT="https://your-azure-endpoint.openai.azure.com/"
AZURE_OPENAI_API_VERSION="2024-12-01-preview"
AZURE_OPENAI_DEPLOYMENT="your-deployment-name"

AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT = "your-embeddings-deployment-name"
AZURE_SEARCH_SERVICE_ENDPOINT = https://your-search-service.search.windows.net
AZURE_SEARCH_ADMIN_KEY = your_azure_search_admin_key_here
AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string_here